<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Review\Block\Form" type="Review\Reminder\Block\Rewrite\Form" />
    <preference for="Magento\Customer\Block\Newsletter" type="Review\Reminder\Block\Rewrite\Newsletter" />
    <preference for="Magento\Newsletter\Controller\Manage\Save" type="Review\Reminder\Controller\Rewrite\Manage\Save" />
    
</config>