<!--@subject Product Review Reminder  @-->

 
{{template config_path="design/email/header_template"}} <!-- pathe of template header-->
 
<!-- here $myvar1 , $myvar2, $myvar3, $myvar4, $myvar5, $myvar6 are variables in which we
                                     asssign values when we use this template for send mail-->
 
<!-- you can Modify content of template according to your requirement-->
<table>
   
    <tr class="email-summary">
        <td>
            <h1>This is a test email</h1>
           
        </td>
    </tr>
   
</table>
 
{{template config_path="design/email/footer_template"}} <!--footer of template-->