<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="reminder" translate="label" sortOrder="10">
            <label>Product Review Reminder</label>
        </tab>
        <section id="review" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General</label>
            <tab>reminder</tab> 
            <resource>Review_Reminder::method</resource>
			<group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
			
				<label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="reminder_days" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Set Email Reminder Days after Shipping</label>
                    <source_model>Review\Reminder\Model\Config\Source\ListMode</source_model> 
                </field>
                <field id="review_template" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Email Template</label>
                    <comment>Select email template for review reminder</comment>
                    <source_model>Review\Reminder\Model\Config\Template</source_model>
                </field>
			 </group>
           
        </section>
    </system>
</config>